.shadow{
    box-shadow: 0 0 10px 100px red;
}
.service .service-box{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-gap: 40px;
 
}
.banner{
    display: flex;
}
.banner b{color: #fff;}
main{padding: 2rem;}

.service-ui{
    max-width: 300px;
    box-sizing: border-box;
    border-radius: 8px;
    color: aqua;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
    background-origin: border-box;
    background-clip: content-box, border-box;
    font-weight: 900;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(163, 161, 161, 0.44);
}
.service-ui:nth-of-type(2n+1){
    background: linear-gradient(90deg,rgba(0,0,0,0.6),#fff)
}
.getproject{
    font-family: mija,sans-serif;
    border-radius: 10px;
    width:600px;
    max-width: 100%;
    padding: 2rem;
    margin: 40px auto;
    min-height: 100px;
    font-weight: bold;
    box-shadow: 0 4px 60px 5px rgba(221, 221, 221, 0.336) ;
    color: #1f0327;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: clamp(30px,2vw,60px);
    background: linear-gradient(rgba(157, 243, 165, 0.822),rgb(131, 238, 224))
}
.getproject .continue{
    margin-top: 30px;
    border: 2px solid #a6f29836;
    padding: 10px 20px;
    transition: all 1s ease-in-out;
    border-radius: 10px;
    box-shadow: 0 0 112px 3px rgb(250, 81, 241);
}
.getproject .continue:hover{
    box-shadow: 0 0 112px 3px rgb(9, 241, 222);
}
@media screen and (max-width:768px) {
    .service .service-box{
        display: block;
    }
}