<button id="share" class="share">
    <img src="/images/icons/share.svg" alt="">
    <div class="share-box">
        <a href="" class="imp-cta e-mail"> <span>continue with e-mail</span> <img src="/images/icons/mail.svg" alt=""></a>
        <a href="" class="icon whatsapp"><img src="/images/icons/whatsapp.svg" alt=""> </a>
        <a href="" class="icon facebook"><img src="/images/icons/facebook.svg" alt=""> </a>
        <a href="" class="icon instagram"><img src="/images/icons/instagram.svg" alt=""> </a>
        <a href="" class="icon phone"><img src="/images/icons/phone.svg" alt=""> </a>
    </div>

</button>
<div class="weareonline">
    <div class="waves-block">
        <div class="waves wave-1"></div>
        <div class="waves wave-2"></div>
        <div class="waves wave-3"></div>
    </div>
</div>

<div class="newsletter mr-lg d-flex align-center justify-center">
    <h3 class="signup-title gradient-text ">newsletter<br>Sign-up</h3>
    <div class="form">
        <form>
            <input type="email" placeholder="Your Email Address" name="email">
            <button type="submit" class="d-flex prefect-center" aria-label="signup">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M17 8l4 4m0 0l-4 4m4-4H3" />
                </svg>
            </button>
        </form>
    </div>
</div>
<div class="d-grid w-100 footercontainer">
    <div class="">
        <h3 class="title">Brand Web Designer</h3>
        <p>Brand website designer are always available to keep your website look great and awesome contact us for your
            brand website design and other services related to your website</p>
    </div>
    <div class="services">
        <h3 class="title ">services</h3>
        <div>
            <a href="" class="tag">website Design</a>
            <a href="" class="tag">website Redesign</a>
            <a href="" class="tag">SEO</a>
            <a href="" class="tag">social media marketing</a>
            <a href="" class="tag">website optimization</a>
            <a href="" class="tag">PWA Integration</a>
            <a href="" class="tag">Web application design</a>
            <a href="" class="tag">wordpress website</a>
            <a href="" class="tag"> website maintenance</a>
            <a href="" class="tag">wordpress custom theme development</a>
        </div>
    </div>
    <div class="social">
        <h3 class="title">subscribe for updates</h3>
        <div class="socialicons">
            <a href="" class="imp-cta e-mail"> <span>continue with e-mail</span> <img src="/images/icons/mail.svg"
                    alt=""></a>
            <a href="" class="icon whatsapp"><img src="/images/icons/whatsapp.svg" alt=""> </a>
            <a href="" class="icon facebook"><img src="/images/icons/facebook.svg" alt=""> </a>
            <a href="" class="icon instagram"><img src="/images/icons/instagram.svg" alt=""> </a>
            <a href="" class="icon phone"><img src="/images/icons/phone.svg" alt=""> </a>
        </div>
    </div>
</div>


<div class="hireme ">
    <span class="close">x</span>
    <h3>available for new projects</h3>
    <a href="">Hire me</a>
</div>
<script>
    if (document.querySelector('.hireme span')) {
        document.querySelector('.hireme span').addEventListener('click', (e) => {
            e.target.parentElement.remove()
        })
    }
</script>