<nav class="d-flex w-100 align-center justify-between">
    <div class="mobileheader">
        <a href="/" class="logo">
            <b class="waviy " id="brand">BrandWebDesigner</b>
        </a>
        <button class="navbutton hamburger" id="hamburger-11">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          
        </button>
    </div>
    <ul>
        <li class="tel"><a href="tel:+917068513356"><img src="/images/icons//webp/call.webp" height="40"
                    alt=""></a></li>
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/pages/aboutus.html">About</a></li>
        <li><a href="/pages/faq.html">FAQ</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="/pages/services.html">Services</a></li>
        <li><a href=""><img src="/images/icons/webp/bell.webp" height="20" alt=""></a></li>
    </ul>

</nav>
<script>
    
    document.querySelector('button.navbutton').addEventListener('click',()=>{
        document.querySelector('nav ul').classList.toggle('show');
        document.querySelector('.navbutton').classList.toggle('is-active')
    })


</script>