@media screen and (max-width: 768px) {
  header{
    position:static;
  }
  .blogpost {
    grid-template-columns: repeat(2, 2fr);
    padding: 10px;
    grid-gap: 20px;
  }
  .footerItem {
    grid-template-columns: repeat(2, 1fr);
    background: transparent;
  }
  .mobilenavicon {
    display: block;
  }
  nav {
    display: none;
    transition: all 0.6s ease-in;
  }
  nav ul li {
    background: #ccc;
    text-align: center;
    width: 100%;
  }
  nav ul li a {
    padding: 20px 20px;
    text-decoration: none;
    color: rgb(5, 5, 36);
    font-weight: 600;

    display: block;
  }
  header {
    height: auto;
    flex-wrap: wrap;
  }
  header nav {
    flex: 100%;
  }
}
@media screen and (max-width: 600px) {
 

  section#blogpost {
    padding: 20px 5px;
  }
  .blogpost {
    grid-template-columns: repeat(1, 1fr);
    padding: 10px;
  }
  .footerItem {
    grid-template-columns: repeat(1, 1fr);
  }
  .banner .info {
    top: -20%;
    width: 70%;
  }
}
@media screen and (min-width: 768px) {
  .blogpost {
    grid-template-columns: repeat(2, 2fr);
    padding: 10px;
  }
  .footerItem {
    grid-template-columns: repeat(3, 1fr);
  }
  .switch{
    padding:10px;margin-left: 40px;
  }
}
@media screen and (min-width: 992px) {
  .blogpost {
    grid-template-columns: repeat(3, 2fr);
    padding: 10px;
  }
  .footerItem {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 600px) {
}
